<!DOCTYPE html>
<html lang="en " xmlns:th="http://www.thymeleaf.org" >
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="post">
    <div class="form-group">
        <label for="username">Nome de usuário</label>
        <input type="text" class="form-control" id="username" placeholder="nome">
    </div>
    
    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" class="form-control" placeholder="Senha">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


</body>
</html>